
  @media screen and (max-width: 600px) {
    body{
        width: 100%;
    }
        .container{
            display: flex;
            flex-direction: column;
            height: 100vh !important;
        }
        label[name="l1"]{
       
            font-size: 14rem;
            
            
        }
        label[name="l2"]{
           font-family:Arial, Helvetica, sans-serif;
           color: rgb(62, 62, 50);
            font-size: 1vw;
        }
    }
   body{
align-items: center;
   
   }
    .container{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        border-style:inset;
        border-color: rgb(140, 150, 147);
        margin-top: 2%;
        width: 70%;
        /* height:80vh; */
        background-color: white;
        text-align: center;
        margin-left: 15%;
        
    
    }
    .c1{
        width: 50%
    
    }
    .c2{
       /* background:linear-gradient(to right ,rgb(58, 217, 135) ,rgb(6, 194, 128),rgb(21, 197, 213)); */
       width: 50%;
       background: url("./images/bgbg.JPG");
       align-items: center;
    }img{
        width: 15vw;
        margin-right: 150%;
        margin-bottom: 15%;
        
    }
    input{
        border-radius: 10px;
        width: 70%;
        font-size: 1vmax;
        padding: 1em;
        margin: 2vh;
        background-color: rgb(224, 235, 235);
        
    }
    input[name="button"]{
       background-color: rgb(31, 151, 81);
        margin-top: 4vh;
        border: none;
        border-radius: 20px;
        font-size: 1.8vmax;
        padding: 0.8rem;
        margin-bottom: 10%;
        padding-left: 8%;
        padding-right: 8%;
    }
    label[name="l1"]{
       
        font-size: 2vw;
        
        
    }
    label[name="l2"]{
       font-family:Arial, Helvetica, sans-serif;
       color: rgb(62, 62, 50);
        font-size: 1vw;
    }
    .S2nd{
        color: white;
        padding-top: 38%;
    }
    .S2nd label[name="l3"]{
        font-size: 4vmax;
        font-style: bold;
    }
    button[name="button1"]{
        margin-top: 4vh;
        border: none;
        border-radius: 20px;
        font-size: 1.8vmax;
        padding: 0.8rem;
        margin-bottom: 10%;
        padding-left: 8%;
        padding-right: 8%;
    }
    button[name="button1"]:hover{
        background-color: rgb(76, 227, 250);
    cursor: pointer;

    }
    input[name="button"]:hover{
        background-color:rgb(158, 198, 234);
    cursor: pointer;

    }
button[name="closebutton"]{
    background:transparent;
    
    font-size: 2rem;
    border: none;
}
button[name="closebutton"]:hover{
    background-color: aliceblue;
    cursor: pointer;
}
span{
    font-size: 1vmax;
    color: red;
}
i{
    padding: 2%;
    background-color: rgb(133, 193, 193);
    border-radius: 15%;
    cursor: pointer;
    
}