*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    padding-left: 20%;
    align-items: center;
    /* background-color:linear-gradient(to right green,green,green); */
    background-color: aquamarine;
    /* height: 100%; */
}
.container{
    width: 80%;
    align-items: center;
    /* background-color: rgb(121, 221, 240); */
    background: url("./images/bgs.jpg");
    border-radius: 5%;
    border-style: groove;
    border-color: aqua;

}
.sub1{
    display: flex;
   
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    align-content: center;
    text-align: justify;
    color: rgb(104, 228, 222);
}
input{
    width: 100%;
    font-size: 1.5vmax;
    text-align: center;
    border-radius:5%;
    padding:1%;
    
}
h3{
    width: 50%;
    font-size: 1.5vmax;
    margin-left: 15%;
}
.sub{
    text-align: center;
    color: azure;
    font-size: 2vmax;
    /* align-items: center; */
    /* background-color: aqua; */
}
input[name="submit"]{
    background-color: rgb(106, 105, 101);
    color: aliceblue;
    margin-left: 20%;
    padding: 1%;
    border-radius:5%;
    
}
input[name="submit"]:hover{
    background-color: rgb(8, 162, 134);
    cursor: pointer;

}
input[name="back"]{
    background-color: rgb(106, 105, 101);
    color: aliceblue;
    margin-left: 15%;
    padding: 1%;
    border-radius:5%;
    
}
input[name="back"]:hover{
    background-color: rgb(8, 162, 134);
    cursor: pointer;

}
.val{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
    align-items: center;
    text-align: center;

}
span{
    color: red;
    font-size: 2vmax;
}